{% load static %}
<div class="left-col-block blocks">
        <header class="header theiaStickySidebar">
            <div class="profile-img">
               <a href="{% url 'index' %}{% if empID %}{% for e in empID %}#{{e.Employee_id}}{% endfor %}{% else %}{% endif %}">
               <img src="{% static '/img/img-profile.jpg' %}" class="img-responsive" alt="Profile Picture" title="Home"/>
            </a>
            </div>
            <div class="content">
                    {% if personal %}
                    {% for per in personal %}
                <h1>{{per.Name}}</h1>
               
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <!-- <span class="lead">{% if Recent %}{% for r in Recent %}{{ r.Designation}}{% endfor %}{% else %}Developer{% endif %}</span> -->
                    <span class="lead">{% if Recent %}{{ Recent}}{% else %}Developer{% endif %}</span>
                </button>
                
                {% endfor %}
                {% endif %}
                <div class="about-text">
                        {% if personal %}
                        {% for per in personal %}
                    <p>{{per.About_me}}</p>    
                    {% endfor %}
                {% endif %}
                    <!-- <p><img src="{% static '/img/Signature.png'%}" alt="" class="img-responsive"/></p> -->
                </div>    
                {% if personal %}
                {% for per in personal %}
                <ul class="social-icon">                    
                    <li><a href="{{per.git}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="{{per.Linkedin}}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:{{per.E_Mail}}"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>
                    <!-- Change the value of pre facebook to redirect to twitter handle and changed the logo to twitter logo--> 
                    <li><a href="{{per.facebook}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>                        
                    <li><a href="skype:shafin.thiyam?call"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                </ul>
                {% endfor %}
                {% endif %}
            </div>
    
        </header>
        <!-- .header-->
    </div>
    <!-- .left-col-block -->
    
    
